/* App.css */
.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.card {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scroll if bars exceed card width */
  margin-top: 20px;
}

.array-bar {
  width: 20px; /* Adjust width as needed */
  background-color: blue;
  margin-left: 2px; /* Adjust spacing between bars */
}
