/* ArrayBar.css */
.array-bar {
  flex: 1; /* Grow and shrink equally to fit the container */
  margin: 0 2px; /* Adjust the margin for larger viewports */
  background-color: rgba(8, 49, 68, 1); /* Default color */
  border: 1px solid #000; /* Border */
}

/* Media query for smaller viewports (e.g., mobile devices) */
@media screen and (max-width: 600px) {
  .array-bar {
    margin: 0 1px; /* Adjust the margin for smaller viewports */
  }
}
