/* SortingVisualizer.css */

.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding around the content */
  box-sizing: border-box; /* Include padding in the width calculation */
  border: 1px solid #ccc; /* Optional border for visual separation */

  
}

.array-container {
  display: flex;
  flex-direction: row; /* Arrange bars horizontally */
  align-items: flex-end; /* Align bars at the bottom */
  justify-content: space-evenly; /* Evenly space bars */
  width: 100%; /* Take up complete width */
  height: 200px; /* Adjust height as needed */
  padding: 20px; /* Add padding around the array container */
  box-sizing: border-box; /* Include padding in the width calculation */
  overflow-x: auto; /* Enable horizontal scroll if bars exceed container width */
}

.array-bar {
  flex: 1; /* Grow and shrink equally to fit the container */
  background-color: blue;
  margin: 0 2px; /* Adjust spacing between bars */
}


/* SortingVisualizer.css */

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align items from left to right */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.card {
  margin-right: 10px; /* Add margin between cards */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack cards vertically on small screens */
    justify-content: center; /* Center cards vertically */
    align-items: stretch;
  }

  .card {
    margin: 10px 0; /* Add margin between cards */
  }
}
